.grant-parent-container {
  padding: 2em;
  /* background-image: url("../assets/"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.grant-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2em;
}

.grant-left-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin-left: 200px; */
  gap: 2rem;
  width: 60%;
}

.grant-heading {
  display: flex;
  flex-wrap: wrap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  letter-spacing: -1px;
  color: #30353e;
  width: 50%;
}

span {
  color: #4a90e2;
}

.grant-primary-text {
  display: flex;
  flex-direction: column;
  width: 30%;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #282938;
  width: 70%;
}

.grant-btn-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #4a90e2;
  outline: none;
  border: none;
}

.grant-right-content {
  margin-right: 2px;
}
