.knowledge-parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3em 1em 7em 1em;
    background-color: #F4F7FF;;
  }
  
  .knowledge-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #282938;
    margin-bottom: 2%;
  }
  
  .knowledge-card-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    gap: 4rem;
  }
  
  .knowledge-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 1rem;
    transition: all 0.3s ease;
    width: 100%; /* Added width for responsiveness */
    max-width: 400px; 
    /* margin: 1em; */
  }
  
  .knowledge-card:hover {
    transform: scale(1.05);
  }
  
  .knowledge-date-container {}
  
  .knowledge-card-heading h5 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #1C1E53;
    width: 100%; /* Added width for responsiveness */
  }
  
  .knowledge-card-primary-text {
    width: 100%; /* Added width for responsiveness */
    margin-top: -15px;
  }
  
  .card-readmore-container button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #1C1E53;
  }
  
  .readmore {
    display: flex;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    .knowledge-parent-container{
      /* margin-left: 10%; */
      align-items: center;
      text-align: center;
    }
    .knowledge-card-container {
      /* margin-left: 0; Adjusted margin for small screens */
      align-items: center;
      text-align: center;
    }
  
    .knowledge-card {
      max-width: none; /* Removed max-width to occupy full width on small screens */
      margin: 1em 0; 
    }
  }
  
  @media (max-width: 480px) {
    .knowledge-card {
      padding: 1em; 
    }
  
    .knowledge-card-heading h5 {
      font-size: 20px; /* Adjusted font size for small screens */
      line-height: 28px; /* Adjusted line height for small screens */
    }
  
    .knowledge-card-primary-text {
      font-size: 14px; /* Adjusted font size for small screens */
      line-height: 20px; /* Adjusted line height for small screens */
    }
      .knowledge-card-container{
        flex-direction: column;
      }
    .card-readmore-container button {
      font-size: 14px; /* Adjusted font size for small screens */
      line-height: 20px; /* Adjusted line height for small screens */
    }
  }
  