.newsletter-parent-container{
    background-image: url("../assets/Newsletter.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5em;
    mix-blend-mode: normal;
}

.sub-newsletter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em;
}

.sub-newsletter-container h2{
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 52px;
text-align: center;
letter-spacing: -0.4px;
color: #FFFFFF;
}

.sub-newsletter-container p{
  color: var(--colors-white, #FFF);
  text-align: center;
  
  /* Text / Paragraph */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.newslettercontainer{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    
}


.newsletter-form {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.form-group {
  margin: 10px;
  display: flex;
}



input {
  /* border-radius: 100px;
  border: 2px solid var(--colors-white, #FFF); */
  opacity: 0.2;
  color: var(--colors-white, #000);
  /* Buttons / Big */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 130% */
  /* border-radius: 100px; */
}

.name-field{
  width: 308.571px;
  height: 64.097px;
  flex-shrink: 0;
}

.email-field{
  width: 537.143px;
  height: 64.097px;
  flex-shrink: 0;
}

.newsletter-form button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 100px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: green;
}

.sub-newsletter-container h6{
  color: var(--colors-white, #FFF);
  text-align: center;
  
  /* Text / Paragraph */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}



/* For screens smaller than 600px (e.g. smartphones) */
@media (max-width: 1000px) {
  .sub-newsletter-container h2{
    color: var(--colors-white, #FFF);
    text-align: center;
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    letter-spacing: -0.4px;
    }

    .sub-newsletter-container p{
      color: var(--colors-white, #FFF);
      text-align: center;
      font-family: DM Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
    }


    .newsletter-form {
      display: flex;
      flex-direction: column;
          gap: 1rem;
    }
    
    .form-group {
      flex: 0 0 50%; 
      /* margin: 10px; */
      display: flex;
      /* flex-direction: column; */
    }
    
    
    
    input {

      width: 87.59px;
      height: 25.501px;      
      border-radius: 100px;
      border: 2px solid var(--colors-white, #FFF);
      opacity: 0.2;
      color: var(--colors-white, #000);
    
      color: var(--colors-white, #FFF);
      text-align: center;
      font-family: DM Sans;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 260% */
    }


    .name-field{
      width: 130px;
      height: 26px;
      flex-shrink: 0;
      border-radius: 10px;
      border: 2px solid var(--colors-white, #FFF);
      opacity: 0.2;
      color: var(--colors-white, #000);
      text-align: center;
      font-family: DM Sans;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 260% */
    }
    
    .email-field{
      width: 130px;
      height: 26px;
      flex-shrink: 0;
      border-radius: 10px;
      border: 2px solid var(--colors-white, #FFF);
      opacity: 0.2;
      color: var(--colors-white, #000);
      text-align: center;
      font-family: DM Sans;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 260% */
    }
    
    .newsletter-form button {
      margin-top: 10px;
      padding: 8px 16px;
      background-color: #007bff;
      color: #fff;
      border: 1px solid #007bff;
      border-radius: 100px;
      font-size: 16px;
      cursor: pointer;
    }

    .sub-newsletter-container h6{
      color: var(--colors-white, #FFF);
      text-align: center;
      font-family: DM Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 216.667% */
    }
  }
  