.offerings-parent-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 3% 7%3%7%;
}

.offerings-top-conatainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.offerings-primary-heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #0096F6;
}

.offerings-secondary-heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: -0.581818px;
  text-transform: capitalize;
  color: #111111;
}
.blue__text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: -0.581818px;
  text-transform: capitalize;
}
.offerings-secondary-heading .wrap {
  color: #0096f6;
}
.offerings-primary-text{
  width: 70%;
  align-items: center;
  text-align: center;
}

.offerings-text1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #637381;
}

.offeringsbutton-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  margin-bottom: 43px;
}
.offeringsbutton-container button {
  padding: 1em;
  border-radius: 10px;
}

.mentorconnect,
.investorconnect,
.grantsconnect {
  text-decoration: none;
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
text-transform: capitalize;
color: #637381;
border: 2px solid #0096f6;
}

.mentorconnect:hover,
.investorconnect:hover,
.grantsconnect:hover {
  border: none;
  background-color: #0096f6;
  color: #ffffff;
}

.offerings-rectangle-box {
  /* display: flex; */
  /* padding: 2% 6%; */
  /* padding: 3em; */
  /* width: 85%; */
  /* margin-left: -10%; */
  background: #f4f7ff;
  border-radius: 100px;
}

.offerings-box-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3em 3em 1.7em 0em;
  /* gap: 5rem; */
}

.offerings-left-content {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.offerings-left-content2{
  display: none;
  align-items: center;
  margin-left: 90px;
  width: 100%;
  margin-top: 4%;
  /* padding: 2em; */
}

.offerings-right-content {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  /* padding: 4.5% 6%; */
}

.offerings-right-primary-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #0096f6;
}

.offerings-right-primary-heading{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  width: 80%;
  font-size: 35px;
  line-height: 45px;
  text-transform: capitalize;
  color: #2E2E2E;
}

.offerings-right-primary-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #637381;
}
.offerings-right-button-container {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
  /* align-items: center; */
  gap: 1rem;
  margin-top: 30px;
}

.findmentor,
.becomementor {
  color: #0096f6;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  /* width: 150px; */
  /* height: 60px; */
  padding: 1em;
  color: #0096F6;
  background: #f4f7ff;
  outline: none;
  border: 2px solid #0096f6;
  border-radius: 8px;
}

.findmentor:focus,
.becomementor:focus {
  outline: none;
}

.findmentor:hover,
.becomementor:hover {
  background-color: #0096f6;
  color: white;
}


@media (max-width: 768px) {
  .offerings-box-content {
    flex-direction: column;
    align-items: center;
    padding: 6em;
    /* width: 100px; */
    margin-left: -60px;
    text-align: center;
    justify-content: center;
  }

  .offerings-primary-heading{
    color: #0096F6;
text-align: center;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 24px;
  }

  .offerings-secondary-heading{
    color: #111;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */
    letter-spacing: -0.582px;
    text-transform: capitalize;
  }

  .blue__text{
    color: #0096F6;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.582px;
    text-transform: capitalize;
  }
.offerings-primary-text{
  width: 100%;
}
  .offerings-primary-text p{
    color: #637381;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }

  .offeringsbutton-container button{
    /* flex-direction: column; */
    width: 120px;
    font-size: 12px;
    /* color: #FFF; */
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
  }
  .offerings-rectangle-box {
    background: #f4f7ff;
    border-radius: 20px;
  }

  .offerings-left-content {
    display: none;
  }

  .offerings-left-content2{
    display: flex;
  }
  .offerings-right-content{
    text-align: center;
    align-items: center;
    margin-left: 50px;
    flex-direction: column;
  }
  .offeringsimg1 {
    width: 100%;
  }
    .offerings-right-primary-title{
      color: #0096F6;
      text-align: center;
      font-family: Inter;
      font-size: 10px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }

    .offerings-right-primary-heading{
      color: #2E2E2E;
      text-align: center;
      font-family: Inter;
      font-size: 11px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 321.429% */
      text-transform: capitalize;
    }

    .offerings-right-primary-text{
      color: #637381;
      text-align: center;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }

    .findmentor,
    .becomementor{
      width: 125px;
      height: 32px;

      color: #0096F6;
text-align: center;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
    }
  .offerings-box-content{
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
}
