.serviceshero
{
    display: flex;
    margin-top: 8%;
    align-items: center;
}

.services-right-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    text-align: start;
}
.services-left-container1{
    display: none;
}
.services-right-container p{
    color: #4A90E2;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}

.services-right-container h1{
    color: var(--dark-blue, #282938);
    font-family: DM Sans;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 110.345% */
}

.services-right-container h6{
    color: var(--dark-blue, #282938);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
}

.services-desc{
        background: #F4F6FC;
        margin-top: 5%;
}
.service-desc-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding: 2em;
    background: #F4F6FC;
}

.service-desc-content p{
    color: #4A90E2;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}

.service-desc-content h1{
    color: var(--dark-blue, #282938);
    text-align: center;
    font-family: DM Sans;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 110.345% */
}

.service-desc-content h6{
    color: var(--dark-blue, #282938);
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}

.service-card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    gap: 4rem;
    margin-bottom: 4%;
}
.service-card-container1{
    display: none;
}
.services-card-content{
    display: flex;
    flex-direction: row;
    gap: 6rem;

}

.services-card:hover{
        scale: 10px;
}

.pricing-content{
    background-color: #F4F7FF;
}
.services-list-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3%;
    padding: 2em;
}

.services-list-container h1{
    color: var(--dark-blue, #282938);

    /* Heading 2 */
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 133.333% */
}
.services-list-container p{
    color: var(--dark-blue, #282938);
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    text-transform: capitalize;
}
.services-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.services-card-list{
    display: flex;
    gap: 2rem;
}


.services-list-container1{
    display: none;
}

@media (max-width: 1282px){
            .serviceshero{
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-top: 10%;
            }    
            
            .services-left-container1{
                display: flex;
            }
        
            .services-left-container{
                display: none;
            }
            .services-right-container{
                align-items: center;
                text-align: center;
            }
                .services-card{
                    flex-direction: row;
                }
            .services-card-list{
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }
}
@media (max-width: 768px){

    .service-card-container{
        display: none;
    }
    .service-card-container1{
        display: flex;
        padding: 1.5em;
    }

        .serviceshero{
            margin-top: 80px;
        }

    .services-right-container p{
        color: #4A90E2;
        text-align: center;
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
    }
    
    .services-right-container h1{
        color: var(--dark-blue, #282938);
        text-align: center;
        font-family: DM Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 125% */
    }
    
    .services-right-container h6{
        color: var(--dark-blue, #282938);
        text-align: center;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; /* 162.5% */
    }
    

    .service-desc-content p{
        color: #4A90E2;
        text-align: center;
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
    }
    
    .service-desc-content h1{
        color: var(--dark-blue, #282938);
        text-align: center;
        font-family: DM Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 125% */
    }
    
    .service-desc-content h6{
        color: var(--dark-blue, #282938);
        text-align: center;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; /* 162.5% */
    }    

    .services-list-container{
        padding: 2em;
    }
            .services-list-container h1{
                color: var(--dark-blue, #282938);
                text-align: center;
                font-family: Poppins;
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: 40px; /* 125% */
            }

            .services-list-container p{
                color: var(--dark-blue, #282938);
                text-align: center;
                font-family: DM Sans;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px; /* 144.444% */
                text-transform: capitalize;
            }
}

@media (max-width: 480px){

    
}