.events-parent-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10%0%4%0%; */
    /* flex-wrap: wrap; */
    /* margin-top: -7%; */
}

.carousel-arrow {
    color: black;
    opacity: 2;
    display: flex
  }

.upcomingevents-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /* padding: 3% 16%; */
    /* margin-left: -10%; */
    gap: 1rem;
    margin-bottom: 1%;
}

.event-primary-heading h3{
    display: flex;
    /* overflow: hidden; */
    font-family: 'Dm Sans';
font-size: 40px;
font-weight: 700;
line-height: 47px;
/* width: 391.81px; */
/* height: 51.79px; */
color: #242565;
}

.event-primary-title{
    display: flex;
    flex-wrap: wrap;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #232536;
opacity: 0.6;
width: 80%;
}

.events-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: flex-start; */
    gap: 2rem;
    background: #FFFFFF;
     /* padding: 0%15%4%17%;  */
}

.events-card{
    display: flex;
    padding: 3em;
    justify-content: center;
    align-items: left;
    text-align: left;
    border-radius: 5%;
    border: 1px solid #ddd;
    height: 100px;
    box-shadow: 1px 10px 10px rgb(224, 223, 223);
}

.events-button-container  button{
    display: flex;
    justify-content: center;
    align-items: center;
    outline:none;
}

.loadmore{
    /* width: 170px; */
    padding: 1em;
    background-color: white;
    color: #3056D3;
    border: 1.5px solid #3056D3;
    border-radius: 50px;
    outline: none;
}

.loadmore:hover{
    background-color: #3056D3;
    color: white;
}


@media only screen and (max-width:1542px){
    .event-primary-heading{
        /* overflow: hidden; */
        font-size: 30px;
        line-height: 37px;
        /* width: 391.81px; */
        /* height: 51.79px; */
        text-align:center;
    }

    .event-primary-title{
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        /* overflow: hidden; */
    }

    .evnts-card-container{
        /* padding: 0% 8%; */
    }

    .event-card-heading{
        width: 150px;
        font-size: 14px;
        line-height: 150%;
    }

    .loadmore{
        width: 70px;
        padding: 1em;
        /* height: 50px; */
    }
    .upcomingevents-container{
        overflow: hidden;
        align-items: center;
    }

}

@media only screen and (max-width:480px){
    .upcomingevents-container{
        /* overflow: hidden; */
        margin-top: 20%;
        align-items: center;
    }
    .event-primary-heading{
        /* flex-wrap: wrap; */
        /* width: auto; */
        font-size: 24px;
        line-height: 29px;
        align-items: center;
        text-align: center;
        /* overflow: hidden; */
        /* margin-left: -10px; */
    }

    .event-primary-title{
        font-size: 12px;
        overflow: hidden;
        line-height: 19px;
        /* width: 40%; */
        padding: 1%3%1%3%;
        align-items: center;
        text-align: center;
    }

    .event-card-container{
        flex-direction: column;
        align-items: center;
        /* padding: 2em; */
        /* margin-right: 20px; */
        gap: 1rem;
        /* padding: 0% 4%; */
        overflow: hidden;
        
    }

    .event-card-heading{
        width: 130px;
        font-size: 12px;
        line-height: 150%;
        overflow: hidden;
    }

    .loadmore{
        color: #3056D3;
text-align: center;
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 100%;
    }

}